table, th, td {
    border:3px solid rgb(234, 231, 231);
   
    
  }

.ce{
    width: 100%;
   
}

table{
    position: relative;
    

}

/* .yo{
    position: relative;
    left: 65px; */
   
/* } */

td{
    text-align: center;
}

th,td{
    padding: 15px;
  
}

th{
    background: antiquewhite;
}

.one{
    background-color: antiquewhite;
}

td , input{
    height: 20px;
} 

.two:hover{
    background-color: rgb(191, 230, 230);
}


.box{
    width: 300px;
    height: 510px;
    background-color: rgba(230, 203, 154, 0.651);
    margin: auto;
    border-radius: 5px;
    

}

.cartbox{
    padding: 10px;
}

form{
    margin-top: 1px;
}

.cartbox p{
    padding-top: 10px;
}
.cartbox h1{
    padding-top: 10px;
}
.cartbox button{
    margin-top: 20px;
    width: 200px;
    background-color: rgb(211, 211, 240);
    margin-left: 30px;
    border-radius: 3px;
    font-size: 15px;
    padding: 2px;
    

}

.right{
    display: flex;
    justify-content: space-between;
    
}

.cartbox a{
   text-decoration: none;
}

img{
    position: relative;
    height: 100px;
}

@media(max-width:900px){
    .box{
        margin-left: 235px;
    }
}

